.c-tabs__tab {
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  padding: 0.25em 0.5em;
  position: relative;
  top: 3px;
}

.c-tabs__tab.active {
  background-color: silver;
  border-bottom: 4px solid gray;
}

.c-tabs__tabpanel:not(.active) {
  display: none;
}
