.c-color-picker {
  --cp-hue-background: linear-gradient(
    to right,
    red 0,
    #ff0 16.66%,
    #0f0 33.33%,
    #0ff 50%,
    #00f 66.66%,
    #f0f 83.33%,
    red 100%
  );
  --cp-color-alpha-background: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--cp-color-opacity))
    100% 100%;
  --cp-chess-size: 0.625em;
  --cp-chess-color1: #fff;
  --cp-chess-color2: #aaa;
  --cp-chess1-background: repeating-linear-gradient(
      45deg,
      var(--cp-chess-color2) 25%,
      transparent 25%,
      transparent 75%,
      var(--cp-chess-color2) 75%,
      var(--cp-chess-color2)
    )
    0 0 / var(--cp-chess-size) var(--cp-chess-size);
  --cp-chess2-background: repeating-linear-gradient(
      45deg,
      var(--cp-chess-color2) 25%,
      var(--cp-chess-color1) 25%,
      var(--cp-chess-color1) 75%,
      var(--cp-chess-color2) 75%,
      var(--cp-chess-color2)
    )
    calc(var(--cp-chess-size) / 2) calc(var(--cp-chess-size) / 2) / var(--cp-chess-size)
    var(--cp-chess-size);
  --cp-marker-size: 1.25em;
  --cp-marker-border: 2px solid white;
  --cp-marker-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}

.c-color-picker__body {
  box-sizing: border-box;
  display: grid;
  height: 100%;
  gap: 0.5em;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto auto;
}

.c-color-picker__tone {
  margin: 0;
  /* outline: none; */
  background-color: var(--cp-tone);
  cursor: crosshair;
  grid-column: span 2;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #000),
    linear-gradient(90deg, #fff, var(--cp-tone));
}

.c-color-picker__tone--marker {
  position: absolute;
  height: 0;
  width: 0;
  pointer-events: none;
}

.c-color-picker__tone--marker::after {
  content: '';
  display: block;
  box-sizing: border-box;
  width: var(--cp-marker-size);
  height: var(--cp-marker-size);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--cp-color-opacity);
  border-radius: 50%;
  border: var(--cp-marker-border);
  box-shadow: var(--cp-marker-shadow);
}

.c-color-picker__sample {
  grid-row: span 2;
  height: 100%;
  width: 3em;
  position: relative;
}

.c-color-picker__sample::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  padding-top: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  background: linear-gradient(0deg, var(--cp-color), var(--cp-color)), var(--cp-chess1-background),
    var(--cp-chess2-background);
}

.c-color-picker__hue input[type='range'],
.c-color-picker__alpha input[type='range'] {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
}

.c-color-picker__hue input[type='range']::-webkit-slider-runnable-track,
.c-color-picker__alpha input[type='range']::-webkit-slider-runnable-track {
  height: calc(var(--cp-marker-size) / 2);
  border-radius: var(--cp-marker-size);
}

.c-color-picker__hue input[type='range']::-moz-range-track,
.c-color-picker__alpha input[type='range']::-moz-range-track {
  height: calc(var(--cp-marker-size) / 2);
  border-radius: var(--cp-marker-size);
}

.c-color-picker__hue input[type='range']::-webkit-slider-runnable-track {
  background: var(--cp-hue-background);
}

.c-color-picker__hue input[type='range']::-moz-range-track {
  background: var(--cp-hue-background);
}

.c-color-picker__alpha input[type='range']::-webkit-slider-runnable-track {
  background: var(--cp-color-alpha-background), var(--cp-chess1-background),
    var(--cp-chess2-background);
}

.c-color-picker__alpha input[type='range']::-moz-range-track {
  background: var(--cp-color-alpha-background), var(--cp-chess1-background),
    var(--cp-chess2-background);
}

.c-color-picker__hue input[type='range']::-webkit-slider-thumb,
.c-color-picker__alpha input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  margin-top: calc(-1 * var(--cp-marker-size) / 4);
  height: var(--cp-marker-size);
  width: var(--cp-marker-size);
  border-radius: 100%;
  border: var(--cp-marker-border);
  box-shadow: var(--cp-marker-shadow);
}
.c-color-picker__hue input[type='range']::-webkit-slider-thumb {
  background-color: var(--cp-tone);
}
.c-color-picker__alpha input[type='range']::-webkit-slider-thumb {
  background-color: var(--cp-color-opacity);
}

.c-color-picker__hue input[type='range']::-moz-range-thumb,
.c-color-picker__alpha input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  margin-top: calc(-1 * var(--cp-marker-size) / 4);
  height: var(--cp-marker-size);
  width: var(--cp-marker-size);
  border-radius: 100%;
  border: var(--cp-marker-border);
  box-shadow: var(--cp-marker-shadow);
}
.c-color-picker__hue input[type='range']::-moz-range-thumb {
  background-color: var(--cp-tone);
}
.c-color-picker__alpha input[type='range']::-moz-range-thumb {
  background-color: var(--cp-color-opacity);
}
